<header id="top-header">

  <div class="head">

    <h1 class="siteName">
      CSE Motors
    </h1>

    <div id="tools">
      <a href="/account/login" title="Click to log in">My Account</a>
    </div>

  </div>

</header>