<% if (title) { %>
<h1><%= title %></h1>
<% } %>

<p><%- message %></p>

<img src="/images/sad-computer.jpg" alt="Sad computer" style="max-width: 300px; margin: 20px 0;">

<p>Oops! Something went wrong. Our engineers have been notified and are working on it.</p>
<p>In the meantime, you can <a href="/">return to the home page</a> and try again.</p>