<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE340</title>
    <link rel="stylesheet" href="styles_index.css" media="screen">
    <link rel="stylesheet" href="styles_media_index.css" media="screen">
</head>

<body>
    <div id="wrapper">
        <div id="actual_body">
            <header>
                <div class="head">
                    <h1>CSE Motors</h1>
                    <p>My Acount</p>
                </div>

                <div class="navigation">
                    <a #home>Home</a>
                    <a #custom>Custom</a>
                    <a #sedan>Sedan</a>
                    <a #suv>SUV</a>
                    <a #truck>Truck</a>
            </header>
            <main>
                <h2>Welcome to CSE Motors!</h2>

                <div class="delorean">
                    <div class="own">
                        <h3>DMC Delorean</h3>
                        <p>3 Cup holders</p>
                        <p>Superman doors</p>
                        <a>Fuzzy dice!</a>
                    </div>

                    <img src="images/site/own_today.png">
                </div>
            </main>
            <aside>
                <section id="one">
                    <h3>Delorean Upgrades</h3>
                    <div class="cards">
                        <div>
                            <img src="images/upgrades/flux-cap.png">
                            <a #flux>Flux Capacitor</a>
                        </div>
                        <div>
                            <img src="images/upgrades/flame.jpg">
                            <a #flame>Flame Decals</a>
                        </div>
                        <div>
                            <img src="images/upgrades/bumper_sticker.jpg">
                            <a #bumper>Bumper Stickers</a>
                        </div>
                        <div>
                            <img src="images/upgrades/hub-cap.jpg">
                            <a #hub>Hub Caps</a>
                        </div>
                    </div>
                </section>
                <section>
                    <h3>DMC Delorean Reviews</h3>
                    <ul>
                        <br>
                        <br>
                        <li class="bullets">"So fast it's almost like traveling in time." (4/5)</li>
                        <br>
                        <br>
                        <li class="bullets">"Coolest ride on the road." (4/5)</li>
                        <br>
                        <br>
                        <li class="bullets">"I'm feeling McFly!" (5/5)</li>
                        <br>
                        <br>
                        <li class="bullets">"80's livin and I love it!" (5/5)</li>
                        <br>
                        <br>
                        <li class="bullets">"The most futuristic ride of our day." (4.5/5)</li>
                    </ul>
                </section>
            </aside>
            <footer>
                <p>@2023 CSE App</p>
            </footer>
        </div>
    </div>


</body>

</html>